<h1><%= link_to "Road Trips", road_trips_path, style: "text-decoration:none;" %> <%= link_to 'Create New Road Trip', new_road_trip_path, {class: "btn btn-primary"} %> </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Miles</th>
      <th scope="col">Destinations</th>
      <% if current_user.admin || !current_user.road_trips.empty? %>
        <th scope="col" colspan="3"><center>Edit User Trips</center></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @road_trips.each do |road_trip| %>
      <tr class="table-active">
        <td>
          <% if current_user.road_trips.include?(road_trip) %>
            <%= render partial: "users/badges", locals: {road_trip: road_trip} %>
          <% end %>
        </td>
        <td><%= link_to road_trip.title, road_trip_path(road_trip) %></td>
        <td><%= road_trip.description %></td>
        <td><%= road_trip.total_miles %></td>
        <td><center><%= link_to road_trip.destinations.count, road_trip_destinations_path(road_trip) %></center></td>
        <% if current_user.admin || road_trip.author_id == current_user.id %>
          <%= render partial: "users/admin/controls", locals: {model: road_trip} %>
        <% else %>
          <% if !current_user.road_trips.empty? %>
            <td colspan="3"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "All Users", users_path %>
<br><br><br>
