<div class="card mb-3">
  <h3 class="card-header">
    <span style="float:left;"><%= @road_trip.name %></span>
    <span style="float:right;"><%= @road_trip.total_miles %> Miles</span>
  </h3>

  <div class="card-body">
    <h5 class="card-title">By: <%= @road_trip.author.name %></h5>
    <h6 class="card-subtitle text-muted">Created At: <%= @road_trip.created_at %> </h6>
  </div>

  <div class="card-body">
    <div class="form-group" style="float:left;">
      <% if !@road_trip.pictures.empty? %>
        <img style="height: 200px; width: 400px; display: block; float:left;" src="<%=@road_trip.pictures[0].url%>" alt="Card image" class="image_url">
        <a href="<%=@road_trip.id%>/pictures" class="js-next-pic" data-id="0">next</a> / <a href="<%=@road_trip.id%>/pictures" class="js-previous-pic" data-id="0">previous</a>
        <span class="js-page-count">(1)<span>
      <% else %>
        <center><a href="#" class="add_picture"><img style="height: 200px; width: 400px; display: block; float:left;" src="http://placeholder.pics/svg/400x200/8B8B8B/FFFFFF/Add%20a%20Picture"></a></center>
      <% end %>
    </div>
    <div class="form-group" style="float:right;">
      <%= render partial: "users/badges", locals: {road_trip: @road_trip} %>
      <br>
      <%= render partial: "user_road_trips/buttons", locals: {road_trip: @road_trip} %>
      <br>
    </div>
  </div>

  <div class="container" role="main">

    <div class="card-body">
      <p class="card-text"><%= @road_trip.description %></p>
    </div>

    <ul class="list-group list-group-flush">
      <% @road_trip.road_trip_destinations.order(:destination_order).each do |road_trip_destination| %>
        <li class="list-group-item"><%= link_to road_trip_destination.destination.name, destination_path(road_trip_destination.destination), { style: "float:left;" } %>
          <span class="badge badge-primary" style="float:right;">Stop <%= road_trip_destination.destination_order %></span></li>
      <% end %>
    </ul>

    <div class="card-body">|
      <% @road_trip.tags.uniq.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %> |
      <% end %>
    </div>

    <%= render partial: 'comments/form', locals: { model: @road_trip } %>

    <div class="card-footer text-muted">
      Last Updated At: <%= @road_trip.updated_at %> |
      <% if current_user.id == @road_trip.author_id %>
        <%= link_to 'Edit', edit_user_created_trip_path(current_user, @road_trip) %> |
      <% end %>

      <%= link_to 'All Road Trips', road_trips_path %>
    </div>

  </div>
</div>
