<br /><center><div class="jumbotron" style="height:50%; width:50%;">
  <%= form_for current_user do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  <br>
  <% if logged_in? %>
    <%= link_to 'Back', user_path(current_user) %>
  <% else %>
    <%= link_to 'Back', root_path %>
  <% end %>
</div></center>
