<h1>Road Warriors</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Miles Driven</th>
      <th scope="col">Current Trip</th>
      <% if current_user.admin %>
        <th colspan=3>Controls</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if !current_user.admin && !user.admin %>
        <tr class="table-active">
          <th scope="row"><%= link_to user.name, user_path(user) %></td>
          <td><%= user.miles_driven %></td>
          <td><%= link_to user.current_trip.title, road_trip_path(user.current_trip) if user.current_trip_id %></td>
          <% if current_user.admin %>
            <%= render partial: "users/admin/controls", locals: {model: user} %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user.admin %>
  <%= link_to 'Create New User', new_user_path %>
<% end %>
