<div class="card mb-3">
  <h3 class="card-header"><%= @user.name %></h3>
  <div class="card-body">
    <h5 class="card-title"><%= @user.miles_driven %> Miles Driven</h5>
    <h6 class="card-subtitle text-muted"><%= @user.user_road_trips.size %> Trip(s) Taken</h6>
  </div>
  <div class="container" role="main">
    <% if !@user.pictures.empty? %>
      <center>
        <span><img style="height: 200px; width: 400px; display: block;" src="<%=@user.pictures[0].url%>" alt="Card image" class="image_url"></span>
        <span><a href="<%=@user.id%>/pictures" class="js-next-pic" data-id="0">next</a> / <a href="<%=@user.id%>/pictures" class="js-previous-pic" data-id="0">previous</a></span>
      </center>
    <% else %>
      <center><a href="#" class="add_picture"><img style="height: 200px; width: 400px; display: block;" src="http://placeholder.pics/svg/400x200/8B8B8B/FFFFFF/Add%20a%20Picture"></a></center>
    <% end %>
    <div class="card-body">
      <p class="card-text">Trips Taken:</p>
    </div>
    <ul class="list-group list-group-flush">
      <% if @user.user_road_trips.empty? %>
        <li class="list-group-item">No Trips Taken</center></li>
      <% end %>
      <% @user.user_road_trips.each do |user_road_trip| %>
        <li class="list-group-item"><%= link_to user_road_trip.road_trip.name, road_trip_path(user_road_trip.road_trip) %>
          <div style="float:right;"><%= render partial: "users/badges", locals: {road_trip: user_road_trip.road_trip}, style:"float:right;" %></div>
        </li>
      <% end %>
    </ul>
    <div class="card-body">
      <p class="card-text">Trips Created:</p>
    </div>
    <ul class="list-group list-group-flush">
      <% if @user.trips_created.empty? %>
        <li class="list-group-item"><center><%= link_to "Create a Trip!", new_user_created_trip_path(@user) %></center></li>
      <% end %>
      <% @user.trips_created.each do |trip| %>
        <li class="list-group-item"><%= link_to trip.name, user_created_trip_path(@user, trip) %></li>
      <% end %>
    </ul>
    <div class="card-body">
      <p class="card-text">Destinations Created:</p>
    </div>
    <ul class="list-group list-group-flush">
      <% if @user.destinations_created.empty? %>
        <li class="list-group-item"><center><%= link_to "Create a Destination!", new_user_destination_path(@user) %></center></li>
      <% end %>
      <% @user.destinations_created.each do |destination| %>
        <li class="list-group-item"><%= link_to destination.name, user_destination_path(@user, destination) %></li>
      <% end %>
    </ul>
    <div class="card-body">
      <%= link_to "Comments Made", user_comments_path(@user), id: "comments_made" %> |
      <a href="#" class="card-link" id="comments_received">Comments Received</a>
    </div>
    <div class="comments">
      <ul>
      </ul>
    </div>
    <div class="card-footer text-muted">
      Road Warrior Since: <%= @user.created_at %> |
      <% if current_user.admin || current_user == @user %>
        <%= link_to 'Edit', edit_user_path(@user) %> |
      <% end %>
      <%= link_to 'Rankings', users_path %>
    </div>
  </div>
</div>
