<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_area :description, size: "70x5" %>
<%= f.label :total_miles %>
<%= f.number_field :total_miles %><br>
<%= f.hidden_field :author_id, value: current_user.id %>

<div class="card mb-3">
  <h3 class="card-header">Add Destinations</h3>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">City, State</th>
          <th scope="col">Add/Remove</th>
          <th scope="col"><center>Order</center></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= f.collection_check_boxes(:destination_ids, Destination.all, :id, :name) do |b| %>
          <%= f.fields_for :road_trip_destinations, f.object.road_trip_destinations.build(destination_id: b.object.id) do |rtds_fields| %>
            <% if drts_fields.object.destination_order = find_destination_order(road_trip: f.object, destination: b.object) %>
              <tr class="table-success">
            <% else %>
              <tr class="table-active">
            <% end %>
              <td><%= b.object.name %></td>
              <td><%= b.object.city_and_state %></td>
              <td><center><%= b.check_box %></center></td>
              <td><center><%= drts_fields.number_field :destination_order, style: 'width: 50%;' %></center></td>
              <%= drts_fields.hidden_field :destination_id %>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
      <%#= b.check_box %>
      <%#= b.label %><br>
    <%#end%>
  </div>
</div>
