<br /><center><div class="jumbotron" style="height:50%; width:50%;">
  <%= form_for(@tag) do |f| %>
  <%= render partial: 'layouts/form_errors', locals: { model: @tag } %>

    <div class="field">
      <%= f.label :tag %><br>
      <%= f.text_field :name %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %><br>
  <%= link_to 'Show', @tag %> |
  <%= link_to 'All Tags', tags_path %>
</div></center>
