<h1><%= link_to "Tags", tags_path, style: "text-decoration:none;" %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tag</th>
      <th scope="col">Times Used</th>
      <th scope="col">Last Destination Tagged</th>
      <th colspan=3><center>Controls</center></th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr class="table-active">
        <td><%= link_to tag.title, tag_path(tag) %></td>
        <td><%= tag.times_used %></td>
        <td><%= link_to tag.last_destination.name, destination_path(tag.last_destination) if tag.last_destination %></td>
        <% if current_user.admin %>
          <%= render partial: "users/admin/controls", locals: {model: tag} %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "All Destinations", destinations_path %>
<br><br><br>
