<div class="card mb-3">
  <h3 class="card-header"><span class="tagName"><%= @tag.name %></span> / <a href="#" class="js-next-tag" data-id="<%=@tag.id%>">next tag</a></h3>
  <div class="card-body">
    <h5 class="card-title">Destinations that have this tag:</h5>
  </div>
  <div class="container" role="main">
    <table class="table table-hover">
      <tbody class="tags_destinations">
        <% @tag.destinations.each do |destination| %>
          <tr class="table-active">
            <th scope="row"><%= link_to destination.name, destination_path(destination) %></th>
            <td><%= destination.city_and_state %></td>
            <td><%= destination.street_address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    <% if current_user.admin %>
      <%= link_to 'Edit', edit_tag_path(@tag) %> |
    <% end %>
    <%= link_to 'All Tags', tags_path %>
  </div>
</div>
