<div class="card mb-3">
  <%= form_for(@destination) do |f| %>
    <div class="card mb-3" style="height: 100%; width:46%; float:left; margin:1px">
      <div class="card-body">
        <%= render partial: 'layouts/form_errors', locals: { model: @destination } %>

        <%= f.hidden_field :author_id, value: @user.id %>

        <%= f.label :name %>
        <%= f.text_field :name %><br>

        <%= f.label :description %><br>
        <%= f.text_area :description, size: "75x5" %><br>

        <%= f.label :city %>
        <%= f.text_field :city %> ,

        <%= f.label :state %>
        <%= f.text_field :state %><br>

        <%= f.label :street_address %>
        <%= f.text_field :street_address %><br><br>

        <h6 class="card-subtitle text-muted">Add a descriptive tag or two to this destination, so people know what this place is like.</h6><br>

        <%= f.fields_for :tags, @destination.tags.build do |tags_fields| %>
          <%= tags_fields.label :tag_1 %>
          <%= tags_fields.text_field :tag_1 %><br>
          <%= tags_fields.label :tag_2 %>
          <%= tags_fields.text_field :tag_2 %><br>
          <%= tags_fields.label :tag_3 %>
          <%= tags_fields.text_field :tag_3 %><br>
        <% end %>
      </div>
    </div>

    <div class="card mb-3" style="height: 100%; width:52%; float:right; margin:1px">
      <h3 class="card-header">Add/Remove Tags</h3>
      <div class="card-body">
        <div class="container" role="main">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :title) do |tag| %>
            <%= tag.check_box %>
            <%= tag.label class:"form-check-label"%><br>
          <% end %>
        </div>
      </div>
    </div>

    <br><br>
    <div class="actions">
      <%= f.submit class: "btn btn-primary btn-lg btn-block"%>
    </div>
  <% end %>
</div>
