<div class="card mb-3">
  <h3 class="card-header"><%= @destination.name %></h3>
  <div class="card-body">
    <h5 class="card-title"><%= @destination.city_and_state %></h5>
    <h6 class="card-subtitle text-muted"><%= @destination.street_address %></h6>
  </div>
  <div class="container" role="main">
    <% if !@destination.pictures.empty? %>
      <center><img style="height: 200px; width: 400px; display: block;" src="<%=@destination.pictures[0].url%>" alt="Card image"></center>
    <% else %>
      <center><a href="#" class="add_picture"><img style="height: 200px; width: 400px; display: block;" src="http://placeholder.pics/svg/400x200/8B8B8B/FFFFFF/Add%20a%20Picture"></a></center>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= @destination.description %></p>
    </div>
    <p>Tags:</p>
    <ul class="list-group list-group-flush">
      <% if @destination.tags.empty? %>
        <li class="list-group-item"><center>None</center></li>
      <% else %>
        <% @destination.tags.each do |tag| %>
          <li class="list-group-item"><%= link_to tag.name, tag_path(tag) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= render partial: 'comments/form', locals: { model: @destination } %>

  <div class="card-footer text-muted">
    Created At: <%= @destination.created_at %> |
    <% if current_user.admin || @destination.author_id == current_user.id %>
      <%= link_to 'Edit', edit_user_destination_path(current_user, @destination) %> |
    <% end %>
      <%= link_to 'All Destinations', destinations_path %>
  </div>
</div>
