<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Road Trip", root_url, {class: "navbar-brand"} %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <% if current_user.id %>
        <li class="nav-item active">
          <%= link_to "Road Warriors", users_path, {class: "nav-link"} %>
        </li>
        <li class="nav-item">
          <%= link_to "Trips", road_trips_path, {class: "nav-link"} %>
        </li>
        <li class="nav-item">
          <%= link_to "Destinations", destinations_path, {class: "nav-link"} %>
        </li>
        <li class="nav-item">
          <%= link_to "Tags", tags_path, {class: "nav-link"} %>
        </li>
        <li class="nav-item dropdown show">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><%= current_user.name %></a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
            <%= link_to "Select a Road Trip", road_trips_path, { class: "dropdown-item" } if current_user.current_trip.nil? %>
            <%= link_to "Current Trip", road_trip_path(current_user.current_trip), { class: "dropdown-item" } if current_user.current_trip %>
            <%= link_to "Profile", user_path(current_user), { class: "dropdown-item" } %>
            <%= link_to "Account", edit_user_path(current_user), { class: "dropdown-item" } %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log Out", logout_path, { method: :delete, class: "dropdown-item" } %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
